
.manipulations {
    margin-left: 5px;
    margin-bottom: 5px;
}

.pipe {
    width: 50%;
    margin-top: 20px;
    margin: auto;
    border: 1px solid white;
    background-color: gainsboro;
}

button {
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    text-align: center;
    padding: 2px;
}

h3{
    color: orangered;
}